http:
  middlewares:
    local-ipWhiteList:
      IPAllowList:
        sourceRange: [ "192.168.1.0/24" ]
  serversTransports:
    internal-skip-verify:
      insecureSkipVerify: true
  routers:
    teleport-tcp:
      entryPoints:
      - websecure
      - web
      rule: Host(`teleport.datrollout.dev`)
      service: teleport
      tls:
        certResolver: letsencrypt
    sonarqube-tcp:
      entryPoints:
      - websecure
      - web
      rule: Host(`sonarqube.datrollout.dev`)
      service: sonarqube
      tls:
        certResolver: letsencrypt
    loki-healthcheck:
      entryPoints: [ "web", "websecure" ]
      service: loki
      rule: Host(`loki.datrollout.dev`) && Path(`/ready`)
      tls:
        certResolver: letsencrypt
    prometheus-healthcheck:
      entryPoints: [ "web", "websecure" ]
      service: prometheus
      rule: Host(`prometheus.datrollout.dev`) && Path(`/-/healthy`)
      tls:
        certResolver: letsencrypt
    gitlab-healthcheck:
      rule: Host(`gitlab.datrollout.dev`) && Path(`/-/liveness`) && Query(`token`, `wyBB2CFMykPhWLU_FExX`)
      priority: 100
      service: gitlab@docker
      tls:
        certResolver: letsencrypt
      entryPoints:
      - web
      - websecure
  services:
    prometheus:
      loadBalancer:
        servers:
        - url: http://192.168.30.4:9090
    loki:
      loadBalancer:
        servers:
        - url: http://192.168.30.21:3100
    sonarqube:
      loadBalancer:
        servers:
        - url: http://192.168.1.125:9000
    teleport:
      loadBalancer:
        serversTransport: internal-skip-verify
        passHostHeader: true
        servers:
        - url: https://192.168.1.122:3080
