http:
  serversTransports:
    internal-skip-verify:
      insecureSkipVerify: true
  routers:
    teleport-tcp:
      entryPoints:
      - websecure
      - web
      rule: Host(`teleport.datrollout.dev`)
      service: teleport
      tls:
        certResolver: letsencrypt
    sonarqube-tcp:
      entryPoints:
      - websecure
      - web
      rule: Host(`sonarqube.datrollout.dev`)
      service: sonarqube
      tls:
        certResolver: letsencrypt
  services:
    sonarqube:
      loadBalancer:
        servers:
        - url: http://192.168.1.125:9000
    teleport:
      loadBalancer:
        serversTransport: internal-skip-verify
        passHostHeader: true
        servers:
        - url: https://192.168.1.122:3080
