- name: Manage Proxmox firewall
  hosts: proxmox-server
  tasks:
   - name: Enable Nat for private netwrok
     ansible.builtin.iptables:
      table: nat
      chain: POSTROUTING
      source: "192.168.99.0/24"
      out_interface: vmbr0
      jump: MASQUERADE
      state: present
   - name: "Ensure ip from ubuntuserver connect to the database"
     ansible.builtin.iptables:
      table: raw
      chain: PREROUTING
      action: insert
      rule_num: 1
      state: present
      source: "192.168.1.121/32"
      destination: "192.168.99.2"
      jump: ACCEPT
   - name: "Ensure ip from sonarqube connect to the database"
     ansible.builtin.iptables:
      table: raw
      chain: PREROUTING
      action: insert
      rule_num: 1
      state: present
      source: "192.168.1.125/32"
      destination: "192.168.99.2"
      jump: ACCEPT
   - name: Drop packet if ip is not my worksation
     ansible.builtin.iptables:
      table: raw
      chain: PREROUTING
      source: "!192.168.1.2"
      destination: "192.168.99.0/24"
      jump: DROP
   - name: Ensure iptables-persistent is installed
     ansible.builtin.apt:
      name: iptables-persistent
      state: present
   - name: Handler to save iptables rules
     ansible.builtin.command: netfilter-persistent save