---
- name: Ensure dependencies are present
  become: yes
  ansible.builtin.package:
    name: curl
    state: present

- name: Download GitLab Runner binary
  become: yes
  ansible.builtin.get_url:
    url: https://gitlab-runner-downloads.s3.amazonaws.com/latest/binaries/gitlab-runner-linux-amd64
    dest: /usr/local/bin/gitlab-runner
    mode: '0755'

- name: Create gitlab-runner user
  become: yes
  ansible.builtin.user:
    name: gitlab-runner
    comment: "GitLab Runner"
    shell: /bin/bash
    create_home: yes
    state: present

- name: Install GitLab Runner as a service
  become: yes
  ansible.builtin.command:
    cmd: gitlab-runner install --user=gitlab-runner --working-directory=/home/gitlab-runner
  args:
    creates: /etc/systemd/system/gitlab-runner.service

- name: Enable and start GitLab Runner service
  become: yes
  ansible.builtin.systemd:
    name: gitlab-runner
    enabled: yes
    state: started