# Version grafana collection: 5.6

- name: Manage Grafana
  hosts: ubuntu-server
  become: yes
  vars:
   grafana_alert_resources: 
    contactPoints:
      - orgId: 1
        name: Email to Mine
        receivers:
          - uid: mine
            type: email
            settings:
              addresses: ngovuminhdat@gmail.com
              singleEmail: true
   grafana_provisioning_sync: true
   grafana_security:
    admin_user: akira
    admin_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38656232333364343263613261306536306335383162363135646232636134393766323463613738
          3933646637623131646263373131313230386663373037340a306637646635353436623730666465
          35643634356537333438613632396364316333343864303466346339336135313766363763653539
          3262396564663334620a613764633737376538383932373761643639396237626263353232666166
          3664
   influxdb_api_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66323864303737316132623139393930306438653462616138363234653130336530396364373239
          3533373039366638613362636331366434626332313232380a353534623539653838643334313335
          33666531363861343534626432356330353234663665653365666562343034323037663336383438
          6230343035663130630a303130303334623534643864623564346439623061613630346236636534
          33353566353933653865663538363339653432383335326362306664663937643236346632383164
          39613630626665373231666138313130366431303437643165393061663537613863653864303263
          39613136633230376130666162346538313635396362366533383536386633376437343562303335
          63633137656662393762626661326161393465343736353761613538363430373637643836653263
          6266
   influxdb_datasource_name: 'influxdb-ubuntu-server'
   prometheus_datasource_name: prometheus-ubuntu-server
   grafana_datasources:
    - name: "{{influxdb_datasource_name}}"
      type: influxdb
      url: 'http://127.0.0.1:8086'
      basicAuth: false
      jsonData:
       httpHeaderName1: Authorization
      secureJsonData:
       httpHeaderValue1: "Token {{influxdb_api_token}}"
      database: proxmox # Need to create database in influxdb first using: influxdb3 create database pve-master
    - name: "{{prometheus_datasource_name}}"
      type: prometheus
      url: http://192.168.30.4:9090
      basicAuth: false
    - name: "loki"
      type: loki
      url: http://192.168.30.21:3100
      basicAuth: false
   grafana_dashboards:
       # https://grafana.com/grafana/dashboards/10048-proxmox/
    - dashboard_id: 10048
      revision_id: 4
      datasource: "{{influxdb_datasource_name}}"
    - dashboard_id: 1860
      revision_id: 41
      datasource: "{{prometheus_datasource_name}}"
    - dashboard_id: 10530
      revision_id: 7
      datasource: "{{prometheus_datasource_name}}"
    - dashboard_id: 17346
      revision_id: 9
      datasource: "{{prometheus_datasource_name}}"
    - dashboard_id: 14282
      revision_id: 1
      datasource: "{{prometheus_datasource_name}}"
  roles:
   - name: grafana.grafana.grafana #5.6.0
  tasks:
   - name: Configure smtp
     tags: configure-email
     vars:
      smtp_username: 21521935@gm.uit.edu.vn
      smtp_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63383162313666393632373363303066316533353836353738363637373534326563333934633066
          6331626131376534316663633334363964623135366366370a623536613163373231376566323061
          63326466663932656230653362343936353433306431313238346366613638386331633436633932
          6537376661323739300a333931353837643661383531343533623030393631346561343338353638
          65663939636463343638623731336266336639303334653865313138616233623237
     ansible.builtin.blockinfile:
      dest: /etc/grafana/grafana.ini
      block: "{{lookup('ansible.builtin.template','smtp.ini.j2')}}"
     notify: Restart grafana