---
- name: Add GitLab Runner repo GPG key
  apt_key:
    url: https://packages.gitlab.com/runner/gitlab-runner/gpgkey
    state: present

- name: Add GitLab Runner repository
  apt_repository:
    repo: "deb https://packages.gitlab.com/runner/gitlab-runner/ubuntu/ {{ ansible_distribution_release }} main"
    state: present
    filename: gitlab-runner

- name: Install gitlab-runner
  apt:
    name: gitlab-runner
    state: present
    update_cache: true

- name: Register runner when token provided
  shell: |
    gitlab-runner register --non-interactive           --url "{{ gitlab_coordinator_url }}"           --registration-token "{{ gitlab_runner_registration_token }}"           --executor "{{ gitlab_runner_executor }}"           --description "hephaestus-runner"           --tag-list "{{ gitlab_runner_tags }}"           {% if gitlab_runner_executor == 'docker' %}--docker-image "{{ gitlab_runner_docker_image }}"{% endif %}
  args:
    creates: /etc/gitlab-runner/config.toml
  when: gitlab_runner_registration_token | length > 0

- name: Enable and start gitlab-runner
  systemd:
    name: gitlab-runner
    enabled: true
    state: started
