- name: Some utilities program to make life easier
  hosts: postgresql-16
  become: yes
  tasks:
  - name: Install Utilities
    ansible.builtin.apt:
      update_cache: true
      package:
      - curl
      - unzip
  - name: Check if rclone is installed
    ansible.builtin.stat:
      path: /usr/bin/rclone
    register: rclone_bin
  - name: Install rclone if not present
    ansible.builtin.shell: |
      curl -fsSL https://rclone.org/install.sh | bash
    args:
      executable: /bin/bash
    when: not rclone_bin.stat.exists
   # --------------------
  # AWS CLI
  # --------------------
  - name: Check if AWS CLI is installed
    ansible.builtin.stat:
      path: /usr/local/bin/aws
    register: awscli_bin
  - name: Download AWS CLI v2
    ansible.builtin.get_url:
      url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
      dest: /tmp/awscliv2.zip
      mode: '0644'
    when: not awscli_bin.stat.exists
  - name: Unzip AWS CLI
    ansible.builtin.unarchive:
      src: /tmp/awscliv2.zip
      dest: /tmp
      remote_src: yes
    when: not awscli_bin.stat.exists

  - name: Install AWS CLI
    ansible.builtin.command:
      cmd: /tmp/aws/install
    when: not awscli_bin.stat.exists