services:
    openvpn-ui:
        container_name: openvpn-ui
        image: d3vilh/openvpn-ui:latest
        environment:
          - OPENVPN_ADMIN_USERNAME={{ ovpnui_user }}
          - OPENVPN_ADMIN_PASSWORD={{ ovpnui_password }}
        privileged: true
        ports:
          - "8080:8080/tcp"
        volumes:
          - ./:/etc/openvpn
          - ./db:/opt/openvpn-ui/db
          - ./pki:/usr/share/easy-rsa/pki
          - /var/run/docker.sock:/var/run/docker.sock:ro
        restart: always
