- name: Install NFS client and restart kubelet
  hosts: all
  become: yes
  handlers:
   - name: Restart Kubelet
     ansible.builtin.systemd:
        name: kubelet
        state: restarted
        enabled: yes
  tasks:
    - name: Install NFS client on Debian/Ubuntu
      notify: Restart Kubelet
      ansible.builtin.apt:
        name: nfs-common
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"
      
