#cloud-config
package_update: true
package_upgrade: true
packages:
  - ca-certificates
  - curl
runcmd:
  - mkdir -p /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  - chmod a+r /etc/apt/keyrings/docker.asc
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  - systemctl enable docker
  - systemctl start docker
  - usermod -aG docker duc
  - cd /home/duc
  - git clone https://github.com/VietDucc/BrainyKids.git
  - snap install speedtest
ssh_pwauth: false
hostname: duc-ubuntu
manage_etc_hosts: true
users:
  - name: duc
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys:
     - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDWVKmEpsCNbXXWgxHV1Olj9qr2/dYZzpprUD4ZO6TUUSQtqtP/g4UBCc5qaz3ajPYhE9XW8trMudAJAj9qLv02iW3pkG2dLCy8uFVtoAMS6uPcINAo2+C9mzzCAVxmPD61C1o5VyX0ogpFGX9y6J4xWTooI6n8eMr87ovcClY0Mubb7vSq+W+4UI+OTKYjot3YuEGF+WOyP5w9LM0cVl7E7vkPfG4Xd73dpjPUfEY06OE/vkwBpjuqcd/jU/EPqnjs/TvNmcUufcBFtgQMtd5YqjiizT8fAcYxOUXqRW5Hc9PvRL/dvlKfSGn3ewi2itMroFQv57rsTb0lkY3/VIo+1aDtFgAYzIfZ0Z6vAsMieBwwAFlIsjomLrWlefaAbvEGLDD2mvrMkWSIg/Ync7M8+z+rv7dd8uo9d3F3GX+GflOe0YsCkCgs3oOirSmgKgwxjLEhPzW8OqSspGIikbOoE1oHwqzEQj2zSBxnC4d6V8DvJWgqnBz/8LmPdpwWAZc= akira@legion5