#cloud-config
package_update: true
package_upgrade: true
packages:
  - ca-certificates
  - curl
runcmd:
  - mkdir -p /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  - chmod a+r /etc/apt/keyrings/docker.asc
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  - systemctl enable docker
  - systemctl start docker
  - usermod -aG docker duc
  - cd /home/duc
  - git clone https://github.com/VietDucc/BrainyKids.git
  - snap install speedtest
  - apt install vim -y
ssh_pwauth: false
hostname: duc-ubuntu
manage_etc_hosts: true
users:
  - name: duc
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys:
     - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCtkN/bAkPE37RrO64wJtOoguqVb2osu3Eing6xeeiSj8/aPbuUJ+jpKuqgPoSOug8fGA4vNucCEbl0wc8iygEFKrFYc+Qi2C2BX9lnioi/V2XP99KOX+dzcpnpVTEmPCdtFRByOu0AB959IaE5fwH/0J2VzGwRT4/CEZykqHsACCZ9b99KFcO3E/7WiQfEpmZMyzRy6j/kH79r5z34G/WfWTQFu2GGcIrhARUh8gX0v5SivesISnCdWyJZg7gLYoIpAeXxVO0fAoI71Jiee6u8xlY6dU3Q1jbeI4iGY7T2O+y4961R/LOis8nEXKNGD97Io+7CTUBjV5/J6xEQ2Z/N0WaD5g0+vEqDYHqGfKeba5KRV8QBf5FBoYKizFqrRABYJ3CGF8tPzYTDG1Vv3ZAkcgvOYBoybmao6RIh6ut5K8QQM17OG6yfQ4pUF2KqJrvP1LerierPc4ukR+Ay2P6mnfV6vS3IRYvDbWlgnF/q5Vt11cT4SCsGdV5R/Zistwk=
