AWS_ACCESS_KEY_ID=3ae4
AWS_SECRET_ACCESS_KEY=1
AWS_REGION=auto
S3_BUCKET=backup-storage-dev
S3_ENDPOINT=https://4c8ad4e9fa8213af3fd284bb97b68b5e.r2.cloudflarestorage.com
BACKUP_PASSWORD=super-secret-password
VAULTWARDEN_DB_HOST=127.0.0.1
VAULTWARDEN_DB_PORT=5432
VAULTWARDEN_DB_NAME=vaultwarden
VAULTWARDEN_DB_USERNAME=vaultwarden
VAULTWARDEN_DB_PASSWORD=bestPasswordInTheWorld
VAULTWARDEN_ADMIN_TOKEN="The best admin token"
VAULTWARDEN_DATA_DIR=/app/data/vaultwarden/
MAX_BACKUPS_TO_KEEP=2