---
- name: Download Maven {{ maven_version }}
  get_url:
    url: "https://dlcdn.apache.org/maven/maven-3/{{ maven_version }}/binaries/apache-maven-{{ maven_version }}-bin.tar.gz"
    dest: "/tmp/apache-maven-{{ maven_version }}-bin.tar.gz"
    mode: "0644"

- name: Create /opt/maven
  file:
    path: /opt/maven
    state: directory

- name: Extract Maven
  unarchive:
    src: "/tmp/apache-maven-{{ maven_version }}-bin.tar.gz"
    dest: /opt/maven
    remote_src: true
    creates: "/opt/maven/apache-maven-{{ maven_version }}"

- name: Symlink mvn to /usr/local/bin
  file:
    src: "/opt/maven/apache-maven-{{ maven_version }}/bin/mvn"
    dest: "/usr/local/bin/mvn"
    state: link
    force: true

- name: Add Maven profile
  copy:
    dest: /etc/profile.d/maven.sh
    mode: "0644"
    content: |
      export M2_HOME=/opt/maven/apache-maven-{{ maven_version }}
      export MAVEN_HOME=/opt/maven/apache-maven-{{ maven_version }}
      export PATH=$PATH:$M2_HOME/bin
