cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
durationpy==0.10
google-auth==2.40.3
idna==3.10
kubernetes==33.1.0
loguru==0.7.3
markdown-it-py==4.0.0
mdurl==0.1.2
oauthlib==3.3.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.1.0
rsa==4.9.1
shellingham==1.5.4
six==1.17.0
tenacity==9.1.2
typer==0.17.4
typing_extensions==4.15.0
urllib3==2.5.0
websocket-client==1.8.0
