- name: Manage OpenVPN with UI
  hosts: vpn-server
  vars:
   OPENVPN_ADMIN_USERNAME: admin
   OPENVPN_ADMIN_PASSWORD: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38383630613163383033316633663034303963393530353161326565363962393966353634373762
          3736306137333037313063393437383537666664646563340a303965323837663637393139353763
          32366133663436623265396463623464376665646334393166663935616464363264663131333131
          6434646563306637610a343531643265356437383161663532343763376530616138353932346132
          6530
  pre_tasks:
   - name: Make sure Docker is installed
     ansible.builtin.import_role:
      name: geerlingguy.docker
     tags: ["install-docker"]
  tasks:
  - name: install OpenVPN using Docker compose
    tags: ["openvpn"]
    community.docker.docker_compose_v2:
     project_name: openvpn
     definition:
      services:
          openvpn:
            container_name: openvpn
            image: d3vilh/openvpn-server:latest
            privileged: true
            ports: 
                - "1194:1194/udp"
            environment:
                TRUST_SUB: 10.0.70.0/24
                GUEST_SUB: 10.0.71.0/24
                HOME_SUB: 192.168.1.0/24
            volumes:
                - ./pki:/etc/openvpn/pki
                - ./clients:/etc/openvpn/clients
                - ./config:/etc/openvpn/config
                - ./staticclients:/etc/openvpn/staticclients
                - ./log:/var/log/openvpn
                - ./fw-rules.sh:/opt/app/fw-rules.sh
                - ./server.conf:/etc/openvpn/server.conf
            cap_add:
                - NET_ADMIN
            restart: always
          openvpn-ui:
            container_name: openvpn-ui
            image: d3vilh/openvpn-ui:latest
            environment:
                - OPENVPN_ADMIN_USERNAME=admin
                - OPENVPN_ADMIN_PASSWORD={{OPENVPN_ADMIN_PASSWORD}}
            privileged: true
            ports:
                - "8080:8080/tcp"
            volumes:
                - ./:/etc/openvpn
                - ./db:/opt/openvpn-ui/db
                - ./pki:/usr/share/easy-rsa/pki
                - /var/run/docker.sock:/var/run/docker.sock:ro
            restart: always
