- name: Manage Alloy instance
  hosts: ubuntu-server
  become: yes
  vars:
    uid: 473
    config_path: /etc/alloy/
    docker_group_id: 999

  tasks:
  - name: Create user Alloy
    ansible.builtin.user:
      name: alloy
      uid: "{{uid}}"
      groups: ["docker"]
  - name: Make sure Data's Loki and config directory exixted
    loop:
    - "{{config_path}}"
    ansible.builtin.file:
      dest: "{{item}}"
      owner: "{{uid}}"
      mode: "740"
      state: directory
  - name: Copy Alloy config to remote machine
    ansible.builtin.copy:
      src: config.alloy
      dest: "{{config_path}}"
      mode: "600"
      owner: "{{uid}}"
  - name: Make sure Alloy container is running
    ansible.builtin.docker_container:
      name: alloy
      image: "grafana/alloy:v1.11.2"
      volumes:
      - "{{config_path}}:/etc/alloy/:ro"
      - /var/run/docker.sock:/var/run/docker.sock:ro
      user: "{{uid}}:{{docker_group_id}}"
      networks:
      - name: runtime-network
        ipv4_address: "192.168.30.22"
