- name: Manage Jellyfin
  hosts: ubuntu-server
  become: yes
  vars:
    JELLYFIN_CONFIG_DIR: /mnt/data2/jellyfin/config
    MEDIA_PATH_1: /mnt/data2/jellyfin
    MEDIA_PATH_2: /mnt/data1/NFS/jellyfin
    DOMAIN: jellyfin.datrollout.dev
    uid: 1003
  tasks:
  - name: Make sure user Jellyfin is existed
    ansible.builtin.user:
     name: jellyfin
     uid: "{{uid}}"
     groups: akira
     state: present
     system: true
  - name: Make sure Jellyfin config is existed
    ansible.builtin.file:
      dest: "{{JELLYFIN_CONFIG_DIR}}"
      owner: "{{uid}}"
      state: directory
      mode: "700"
  - name: make sure soft link is created
    ansible.builtin.file:
      dest: /etc/jellyfin
      src: "{{JELLYFIN_CONFIG_DIR}}"
      owner: "{{uid}}"
      mode: "760"
      state: link
      force: true
  - name: Make sure Jellyfin container is running
    ansible.builtin.docker_container:
      name: jellyfin
      user: "{{uid}}"
      memory: "2048M"
      cpus: 2
      state: started
      labels:
        traefik.enable: "true"
        traefik.http.routers.jellyfin.rule: "Host(`{{DOMAIN}}`)"
        traefik.http.routers.jellyfin.tls.certResolver: "letsencrypt"
        traefik.http.routers.jellyfin.entrypoints: "websecure,web"
        traefik.http.routers.jellyfin.tls: "true"
      restart_policy: always
      image: jellyfin/jellyfin:2025090805@sha256:7bccb878ddcd99a9797f88e2d72c8a389310cb01a03bcb804da98910eac830af
      networks:
      - name: runtime-network
        ipv4_address: "192.168.30.8"
      env:
        TZ: Asia/Ho_Chi_Minh
      volumes:
      - "{{JELLYFIN_CONFIG_DIR}}:/config"
      - jellyfin-cache:/cache
      - "{{MEDIA_PATH_1}}:/data1:ro"
      - "{{MEDIA_PATH_2}}:/data2:ro"